<%- include('./partials/head') %>

  <h2>Students</h2>
  <a id="filter-button" href="/?sort=name">filter</a>
  <ul>

    <% persons.forEach(person=> { %>
      <li class="cloud"><a href="./person/<%= person.id %>">
          <%= person.name %>
            <%= person.prefix %>
              <%= person.surname %>
        </a>
      </li>
      <% }) %>
  </ul>

  <!-- <div class="container">
    <div class="cloud"></div>
  </div> -->

  <%- include('./partials/foot') %>