<%- include('./partials/head') %>

  <h2>Students</h2>
  <ul>
    <a href="/?sort=name">filter</a>
    <% persons.forEach(person=> { %>
      <li><a href="./person/<%= person.id %>">
          <%= person.name %>
        </a>, squad_id <%= person.squad_id %>
      </li>
      <% }) %>
  </ul>

  <div class="container">
    <div class="cloud"></div>
  </div>

  <%- include('./partials/foot') %>